.header {
  display: block;
  width: 850px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  position: fixed;
  top: 58px;
  z-index: 99px;
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .3) inset, 0 0.01em 1em rgba(0, 0, 0, 0.6)
}

#id-ul {
  list-style-type: none;
  position: absolute;
  top: 132px;
}

li {
  padding: 9px;
}

.music {
  display: flex;
  width: 850px;
  justify-content: center;
  height: 640px;
}

aside {
  flex: 1;
  background-color: rgba(224, 230, 235);
  border: 2px solid rgba(214, 218, 223);
}

content {
  overflow: auto;
  flex: 3;
}

.hidden {
  display: none;
  padding: 0px;
}


